<div class="column">
  <nav class="panel">
     <p class="panel-heading">who to follow</p>
  <div class="panel-block">
   <article class="media">
     <div class="media-left">
       <figure class="image is-32x32">
          <img src="./emmy.jpg">
       </figure>
     </div>
     <div class="media-content">
      <div class="content">
        <p>
          <strong>Vanessa Aoki </strong><br/>
          <small>@vanessa5600</small><br/>
        </p>
      </div>
     </div>
   </article>
  </div>
   <div class="panel-block">
   <article class="media">
     <div class="media-left">
       <figure class="image is-32x32">
          <img src="./emmy.jpg">
       </figure>
     </div>
     <div class="media-content">
      <div class="content">
        <p>
          <strong>Vanessa Aoki </strong><br/>
          <small>@vanessa5600</small><br/>
        </p>
      </div>
     </div>
   </article>
  </div>
  </nav>
</div>