<section class="section">
    <div class="container">
        <div class="columns">
           <%= render 'trends' %>
           <%= render 'feed' %>
           <%= render 'who-is-follow' %>
        </div>
    </div>
</section>
