<section class="section">
  <div class="container">
    <div class="columns">
    	<% if user_signed_in? %>
    		<%= render 'profile' %>
      <% end %>

       <%= render 'feed' %>
    </div>
  </div>
</section>