/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

.navbar-brand .title {
  color: white;
}

// Round images

.image {
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.error_notification {
  color: red;
  font-weight: 600;
  margin: 0 0 15px 10px;
}

.no-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: rgb(197, 61, 61);
  font-size: 16px;
}

.fa-pencil {color: rgb(179, 177, 68)}

.fa-link {color: rgb(114, 126, 138)}

.no-button:hover,
.fa-pencil:hover,
.fa-link:hover {color: rgb(51, 51, 51);}
